mixin CAppHeader(static = false)
	if static
		.CAppHeaderBlock
	header.CAppHeader(
		x-data="CAppHeader"
		x-bind="CAppHeaderBinding",
		@scroll.window="CAppHeaderScrollFunction",
		@wheel.window="CAppHeaderWheelFunction"
	)
		.container
			a.CAppHeader__logo(href="/")
				if static
					img(
						src=require("@assets/images/logo-dark.svg"),
						alt="alt",
					)
				else
					- const darkLogo = require("@assets/images/logo-dark.svg")
					img(
						src=require("@assets/images/logo.svg"),
						alt="alt",
						:src=`headerFixed ? "${require("@assets/images/logo-dark.svg")}" : "${require("@assets/images/logo.svg")}"`
					)

			.me-auto

			nav.CAppHeader__nav
				ul
					li
						a(href="#") Home
					li
						span(
							data-dropdown-id="solutions",
							x-bind="CAppHeaderDropdownTriggerBinding"
						) Solutions
					li
						a(href="#") Company
					li
						a(href="#") Resources

			.CAppHeader__end
				a(href="#") Contact Us
				button(x-on:click="$store.navigationDrawer.activate()")
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M20 7H4m16 5H4m16 5H4"/></svg>

			.CAppHeader__megamenu(
				data-dropdown-id="solutions",
				x-bind="CAppHeaderDropdownBinding"
			)
				.CAppHeader__megamenu__wrapper
					.row
						.col-lg-8
							h6 Robots
							.row.gx-0
								.col-sm-3.col-xl-3
									a.PHome-Solutions__solution(href="#1")
										.PHome-Solutions__solution__img
											img(src=require("@assets/images/solution_1.png"), alt="alt")
										span.PHome-Solutions__solution__brand
											img(src=require("@assets/images/solution_brand_1.png"), alt="alt")
										div
											strong Light and Nimble
											p Unleashes Powerful Performance
								.col-sm-3.col-xl-3
									a.PHome-Solutions__solution(href="#2")
										.PHome-Solutions__solution__img
											img(src=require("@assets/images/solution_1.png"), alt="alt")
										span.PHome-Solutions__solution__brand
											img(src=require("@assets/images/solution_brand_1.png"), alt="alt")
										div
											strong Light and Nimble
											p Unleashes Powerful Performance
								.col-sm-3.col-xl-3
									a.PHome-Solutions__solution(href="#3")
										.PHome-Solutions__solution__img
											img(src=require("@assets/images/solution_1.png"), alt="alt")
										span.PHome-Solutions__solution__brand
											img(src=require("@assets/images/solution_brand_1.png"), alt="alt")
										div
											strong Light and Nimble
											p Unleashes Powerful Performance
								.col-sm-3.col-xl-3
									a.PHome-Solutions__solution(href="#4")
										.PHome-Solutions__solution__img
											img(src=require("@assets/images/solution_1.png"), alt="alt")
										span.PHome-Solutions__solution__brand
											img(src=require("@assets/images/solution_brand_1.png"), alt="alt")
										div
											strong Light and Nimble
											p Unleashes Powerful Performance
						.col-lg-4
							h6 More
							.CAppHeader__megamenu__links
								a(href="#")
									div
										strong Milvus Fleet Manager
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.me-auto
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
								a(href="#")
									div
										strong Remote Deployment
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.me-auto
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
								a(href="#")
									div
										strong Leasing Program
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.me-auto
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
