extends @layouts/Default/Default.layout.pug

block append variables
	-
		pageProps.title = "Case Study Detail";

block header
	+CAppHeader(true)

block body
	.container
		section.PCaseStudyDetail-Hero
			.row.gy-4.flex-lg-row-reverse
				.col-lg-6
					img(src=require("@assets/images/blog_1.jpg"), alt="alt")
				.col-lg-6
					.PCaseStudyDetail-Hero__body
						h2 UNILEVER
						h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sapien facilisis, ornare elit sit amet, laoreet est. Praesent ultrices metus nibh, non ultrices lectus sagittis ac. Phasellus eu elit nec ipsum sollicitudin eleifend. Aenean ornare eu odio in dapibus. Cras at lorem nulla. Pellentesque sit amet nisi tincidunt turpis semper lobortis sed quis justo.




	section.PCaseStudyDetail-Who
		.container
			.row.gy-4
				.col-lg-6
					h4 Who is the company?
					h3 Unilever is one of the world’s largest companies. With over 400 brands, Unilever manufactures and distributes homecare, personal care, food, and drinks to over 2.5 billion people worldwide.
				.col-lg-6
					p
						strong Unilever Konya HPC Factory
					p Unilever Konya HPC Factory is one of the biggest green manufacturing factories in the world. At over €150 million, building this factory in Konya, Turkey was one of Unilever’s largest investments of the last decade.
					ul
						li 1.500 Employees
						li 650.000 Ton Annual Product
						li 90.000 m2 Production Area




	section.PCaseStudyDetail-Challanges
		.container
			.PCaseStudyDetail-Challanges__head
				h4 Challanges
				h3 Comprehensive Range of Automation Solutions

			.row.gy-4.flex-lg-row-reverse
				.col-lg-6
					.PCaseStudyDetail-Challanges__slider
						.swiper(id="PCaseStudyDetail-Challanges__Slider")
							.swiper-wrapper
								.swiper-slide
									img(src=require("@assets/images/casestudydetail_challange.jpg"), alt="alt")
								.swiper-slide
									img(src="https://picsum.photos/seed/b/1080/1200", alt="alt")
								.swiper-slide
									img(src="https://picsum.photos/seed/c/1080/1200", alt="alt")
								.swiper-slide
									img(src="https://picsum.photos/seed/d/1080/1200", alt="alt")
							.swiper-pagination

				.col-lg-6
					.PCaseStudyDetail-Challanges__body
						p The challenge here was to deliver raw material from the warehouse area to the production area, deliver pallets, and transport waste materials. The Unilever Konya HPC Factory utilized long milk runs that led to safety issues, time loss, labor costs, mistakes, and more. With four different material types needing to be transported twenty-four hours nonstop for over 100 distribution points, it was a complex issue requiring a sophisticated solution.
						p The first challenge was the inefficiency of the milk runs travelling through the production area. In this case, the milk run method took up too much space and led to many problems. It posed safety concerns to the workers on the floor and caused a crowded workspace with limited clearance of machines and equipment, narrow paths, and several turns. A high level of dependence on manual labor posed yet another problem. With a high driving workload of milk run drivers, the labor cost was becoming unsustainable.
						p And, another issue that Unilever Konya HPC Factory faced was a mass of materials in the production area, disorderly buffer, and high buffer size. With multiple milk run in the same area, it was easy to become disorganized and make stocking mistakes.
						p Though there is only one production area and one warehouse involved, there were two separate milkrun flows. Each required a different payload and feeding type. Worker skill posed a challenge, as there were several different types of work experience needed in the same area. Due to manual feeding practices, there was a need for human workers around the clock, leading to high labor costs. High demand posed yet another challenge. Cycle time improvements were necessary, as the long cycle times were impeding productivity.




	section.PCaseStudyDetail-Solution
		.container
			.PCaseStudyDetail-Solution__head
				h4 The Solution

			.row.gy-4.flex-lg-row-reverse
				.col-lg-6
					.PCaseStudyDetail-Solution__img
						img(src=require("@assets/images/casestudydetail_solution.jpg"), alt="alt")
				.col-lg-6
					.d-flex.flex-column.gap-5
						h3 Lorem ipsum dolor sit amet
						h6 The aim was to eliminate unproductive, cost-ineffective and unsafe operation flow, replacing them with fully autonomous, safest and the most flexible internal transport.
						p Autonomous mobile robots allow for a safer environment with no forklifts and no human workers needed to transport the material between locations. To maximize safety and efficiency while transporting materials between the warehouse and the production floor, a detailed engineering study was conducted to determine true robot and attachment selection, proper station and flow structure. Milvus Robotics then designed attachments to perfectly fit to the robot structure and ensured maximum reliability, safety and synchronization together with the robot. After deployment, we continue to provide superior maintenance and support to keep the mobile robots running around the clock.




	section.PCaseStudyDetail-Video
		.container
			.row.gy-4
				.col-12
					h3 Designing the Solution
				.col-lg-6
					h4 The first step was to conduct a detailed engineering study that kept costs low while improving cycle times and applying a fully automated solution. In this stage, we ran simulations, calculated the exact number of robots needed, and determined the best layout so that the robots could work in harmony in a fully automated way.
				.col-lg-6
					p Call-off times, amount of carried materials and line side buffer size were determined by the engineering study. Delivery stations had to be positioned in a way to create optimized paths for the robots, improving workflow and productivity. A new supermarket area acted as a preparation point for robots as they went back and forth between the warehouse and the production area. This created a physical layer between robot distribution area and warehouse forklift operation area while defining and addressing pick-up and delivery points to create a fully trackable solution. This concentrated the manual labor needs into a single point, providing one-time delivery structure and automatic feeding, thus optimizing the operator working cycle and ergonomics. We designed custom tools and equipment for the automatic feeding of transferred material to production machinery, allowing for minimal human workers. When the robot reaches the production area, materials can be loaded directly and immediately with the help of sensory equipment. This prevents excess materials in the production area while optimizing buffer size to have no idle time during production. Robots were designed with automatic charging (self-determining of which robot will be charged among all fleet) and full integration with MRP and WMS systems. They are synchronized with stations for automatic call-off and they provide parallel continuous data synchronization, instantly sharing all steps in the flow.
				.col-lg-12
					<iframe src="https://www.youtube.com/embed/6G-4oPDxfNI?si=YVaLKWjyDtNvMXuI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>




	section.PCaseStudyDetail-Roots
		.container
			.PCaseStudyDetail-Roots__head
				.row
					.col-lg-8
						h3 Customizing the Roots
						p Milvus robots are designed with safety in mind. With optimized footprints, they can navigate around narrow spaces. They charge themselves automatically so that nonstop operation is guaranteed. Their cutting-edge safety sensors are comprised of lidar and depth cameras, offering control on both horizontal and vertical planes, and they are equipped with electromechanical brakes for instant action and the ability to stop abruptly at any moment. Four different robots and attachments for four different material handling types were developed and deployed.
				.PCaseStudyDetail-Roots__head__buttons
					button(id="PCaseStudyDetail-Roots__Slider__PrevButton")
						<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M7.499 6.497L3.5 10.499l4 4.001m9-4h-13"/></svg>
					button(id="PCaseStudyDetail-Roots__Slider__NextButton")
						<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m13.5 6.497l4 4.002l-4 4.001m-9-4h13"/></svg>

		.container(
			x-data="{ spacingLevel: 0 }",
			x-init="window.innerWidth >= 992 ? $nextTick(() => { spacingLevel = getComputedStyle($el).marginLeft }) : spacingLevel = 0",
			x-on:resize.window="window.innerWidth >= 992 ? spacingLevel = getComputedStyle($el).marginLeft : spacingLevel = 0"
		)
			div(x-bind:style="{ marginRight: `-${parseFloat(spacingLevel)}px` }")
				.PCaseStudyDetail-Roots__slider
					.swiper(id="PCaseStudyDetail-Roots__Slider")
						.swiper-wrapper
							.swiper-slide
								.PCaseStudyDetail-Roots__slider__slide
									img(src=require("@assets/images/casestudydetail_roots_1.jpg"), alt="alt")
									h4 SEIT500 with Pallet Lift Attachment
									p The SEIT500 with pallet lift attachment is a powerful robot that is responsible for delivering packaging material to production lines, collecting empty pallets and trash, and delivering them to the proper locations. It also provides working height ergonomics for operators with pallet stands.
							.swiper-slide
								.PCaseStudyDetail-Roots__slider__slide
									img(src=require("@assets/images/casestudydetail_roots_2.jpg"), alt="alt")
									h4 SEIT500 with Wide Chain Conveyor
									p The SEIT500 with wide chain conveyor works as a safe and flexible conveyor between the supermarket area and the production lines. With its 500 kg payload capacity, this robot is capable of carrying containers of empty bottles over long distances. It works in synchrony with an elevator automatic feeding system, and it has a customized stopper design for ensuring the stability of the container.
							.swiper-slide
								.PCaseStudyDetail-Roots__slider__slide
									img(src=require("@assets/images/casestudydetail_roots_3.jpg"), alt="alt")
									h4 SEIT500 with Custom Conveyor Attachment
									p The SEIT500 with custom conveyor attachment and cabinet is responsible for emptying pallet infeed to stack packing material, infeeding full pallets of empty bottles, emptying packing material outfeed, and emptying pallet stack outfeed from the pallet magazine. It provides the ability to carry unstable loads with increased speed and safety compared to traditional conveyors. The cabinet keeps boxes of packing materials secured in perfect alignment and ensures the reliable use of an automatic feeder robotic arm at the line side.
							.swiper-slide
								.PCaseStudyDetail-Roots__slider__slide
									img(src="https://picsum.photos/seed/d-3/1920/1080", alt="alt")
									h4 SEIT500 with Pallet Lift Attachment
									p The SEIT500 with pallet lift attachment is a powerful robot that is responsible for delivering packaging material to production lines, collecting empty pallets and trash, and delivering them to the proper locations. It also provides working height ergonomics for operators with pallet stands.
							.swiper-slide
								.PCaseStudyDetail-Roots__slider__slide
									img(src="https://picsum.photos/seed/d-4/1920/1080", alt="alt")
									h4 SEIT500 with Pallet Lift Attachment
									p The SEIT500 with pallet lift attachment is a powerful robot that is responsible for delivering packaging material to production lines, collecting empty pallets and trash, and delivering them to the proper locations. It also provides working height ergonomics for operators with pallet stands.




	section.PCaseStudyDetail-Deployment
		.container
			.row.gy-4
				.col-lg-9
					.PCaseStudyDetail-Deployment__head
						h3 Deployment and Continuous Support
						p Onsite implementation and training was conducted efficiently with succinct in-person training sessions. Our AMRs are designed for simplified operation, allowing for a short training period. The Milvus Robotics support team provides remote monitoring and control at all times, as well as high-level continuous support. If issues arise, we provide backward mission flow analysis, allowing the support team to access detailed log files for troubleshooting.

				.col-lg-9
					.CGridBlock.PCaseStudyDetail-Deployment__block
						.CGridBlock__body
							p We were impressed with the level of detail put into the engineering study! Milvus approached this project with our needs in mind and offered customizations that allowed for full and total automation in our factory. They did not just provide a general solution. They were always incredibly punctual and communicative. With our input and constant back-and-forth communication, as well as their open mind to new ideas and requests, a completely custom solution was reached.
							.mt-3
								strong Atakan Nergiz
								span Unilever, Engineering Manager

				.col-lg-3
					.row.gy-4
						.col-sm-6.col-lg-12
							.PCaseStudyDetail-Deployment__block
								img(src=require("@assets/images/casestudydetail_feature-1.png"), alt="alt")
						.col-sm-6.col-lg-12
							.PCaseStudyDetail-Deployment__block
								img(src=require("@assets/images/casestudydetail_feature-2.png"), alt="alt")




	section.PCaseStudyDetail-Results
		.container
			.row.gy-4
				.col-lg-4
					.PCaseStudyDetail-Results__head
						h3 The results
						p 17 robots are currently being used at Unilever Konya HPC Factory, operating twenty-four hours nonstop and with no defects for more than a year. They have improved productivity and allowed for a safer environment while keeping costs down.

				.col-lg-8
					.row.gy-4
						.col-sm-6
							.PCaseStudyDetail-Results__result
								span WORKED
								strong 7.180 hours
						.col-sm-6
							.PCaseStudyDetail-Results__result
								span ACCIDENTS
								strong None
						.col-sm-6
							.PCaseStudyDetail-Results__result
								span CARRIED
								strong 68.700 ton
						.col-sm-6
							.PCaseStudyDetail-Results__result
								span TRAVELLED
								strong 78.600 km
						.col-sm-6
							.PCaseStudyDetail-Results__result
								span PRODUCTIVITY INCREASE
								strong 18%
						.col-sm-6
							.PCaseStudyDetail-Results__result
								span COMPLETED
								strong 235.000 cycle

				.col-12
					img.w-100(src=require("@assets/images/results.png"), alt="alt")




	section.PCaseStudyDetail-Other
		.container
			.PCaseStudyDetail-Other__head Other Case Studies
			.row.gy-4
				.col-lg-4
					.PCaseStudy-Posts__post
						.PCaseStudy-Posts__post__img
							a(href="#")
								img(src=require("@assets/images/blog_1.jpg"), alt="alt")
						.PCaseStudy-Posts__post__body
							i COMPANY NAME
							h3
								a(href="#") 12 ways companies are automating workflows with mobile robots
							p One of the most appealing features of AMRs is their ability to complete various different tasks and navigate virtually any environment. They are flexible and adaptable.

				.col-lg-4
					.PCaseStudy-Posts__post
						.PCaseStudy-Posts__post__img
							a(href="#")
								img(src=require("@assets/images/blog_2.jpg"), alt="alt")
						.PCaseStudy-Posts__post__body
							i COMPANY NAME
							h3
								a(href="#") 12 ways companies are automating workflows with mobile robots
							p One of the most appealing features of AMRs is their ability to complete various different tasks and navigate virtually any environment. They are flexible and adaptable.

				.col-lg-4
					.PCaseStudy-Posts__post
						.PCaseStudy-Posts__post__img
							a(href="#")
								img(src=require("@assets/images/blog_2.jpg"), alt="alt")
						.PCaseStudy-Posts__post__body
							i COMPANY NAME
							h3
								a(href="#") 12 ways companies are automating workflows with mobile robots
							p One of the most appealing features of AMRs is their ability to complete various different tasks and navigate virtually any environment. They are flexible and adaptable.
