extends @layouts/Default/Default.layout.pug

block append variables
	-
		pageProps.title = "Home";

block body
	section.PHome-Hero
		.PHome-Hero__img
			img(src=require("@assets/images/hero.jpg"), alt="alt")
		.PHome-Hero__body
			.container
				h1 Moving the World Forward
					br
					| with Material Handling




	section.PHome-Companies
		.container
			strong Trusted Companies Trust Milvus
			.row.align-items-center.justify-content-center.gy-5
				.col-6.col-md-4.col-lg-3.col-xl-2
					img(src=require("@assets/images/company_pg.png"), alt="alt")
				.col-6.col-md-4.col-lg-3.col-xl-2
					img(src=require("@assets/images/company_unilever.png"), alt="alt")
				.col-6.col-md-4.col-lg-3.col-xl-2
					img(src=require("@assets/images/company_royer.png"), alt="alt")
				.col-6.col-md-4.col-lg-3.col-xl-2
					img(src=require("@assets/images/company_pg.png"), alt="alt")
				.col-6.col-md-4.col-lg-3.col-xl-2
					img(src=require("@assets/images/company_unilever.png"), alt="alt")
				.col-6.col-md-4.col-lg-3.col-xl-2
					img(src=require("@assets/images/company_royer.png"), alt="alt")




	section.PHome-Solutions
		.container
			.row.flex-lg-row-reverse.gy-4
				.col-lg-6
					.PHome-Solutions__img
						img(src=require("@assets/images/solutions_img.jpg"), alt="alt")
				.col-lg-6
					.PHome-Solutions__head
						h5 Solutions
						h4 Comprehensive Range of Automation Solutions
					.PHome-Solutions__description
						p Streamline material handling using our full range of autonomous mobile robots (AMRs) that can safely handle payloads up to 1500 kg and offered with different attachments for different application needs. When you want to cut costs and maximize efficiency, using AMRs is the way to go.

			.row.gy-4.mt-3
				.col-sm-6.col-xl-3
					.PHome-Solutions__solution
						.PHome-Solutions__solution__img
							img(src=require("@assets/images/home_solutions_1.png"), alt="alt")
						span.PHome-Solutions__solution__brand
							img(src=require("@assets/images/home_solutions_brands_1.png"), alt="alt")
						div
							strong Light and Nimble
							p Unleashes Powerful Performance
				.col-sm-6.col-xl-3
					.PHome-Solutions__solution
						.PHome-Solutions__solution__img
							img(src=require("@assets/images/home_solutions_2.png"), alt="alt")
						span.PHome-Solutions__solution__brand
							img(src=require("@assets/images/home_solutions_brands_2.png"), alt="alt")
						div
							strong Agility Meets Power
							p Navigates Tightest Corners
				.col-sm-6.col-xl-3
					.PHome-Solutions__solution
						.PHome-Solutions__solution__img
							img(src=require("@assets/images/home_solutions_3.png"), alt="alt")
						span.PHome-Solutions__solution__brand
							img(src=require("@assets/images/home_solutions_brands_3.png"), alt="alt")
						div
							strong Mid-Size Master
							p Maximizes Workflow Efficiency
				.col-sm-6.col-xl-3
					.PHome-Solutions__solution
						.PHome-Solutions__solution__img
							img(src=require("@assets/images/home_solutions_4.png"), alt="alt")
						span.PHome-Solutions__solution__brand
							img(src=require("@assets/images/home_solutions_brands_4.png"), alt="alt")
						div
							strong Built for the Toughest
							p Delivering Unwavering Power




	section.PHome-Monitor
		.container
			.PHome-Monitor__head
				h4 Milvus Fleet Manager

			.row.align-items-center.gy-5.flex-lg-row-reverse
				.col-lg-6.col-xl-7
					.PHome-Monitor__img
						img(src=require("@assets/images/home_monitor.png"), alt="alt")
				.col-lg-6.col-xl-5
					.PHome-Monitor__content
						h3 Effortlessly manage and monitor your fleet anytime, anywhere.
						a.a-button(href="#") Discover
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
						p Maximize efficiency and control over your robotic fleet with Milvus Fleet Manager, the leading solution for modern fleet management. Accessible from anywhere, this powerful system offers comprehensive tools for optimizing performance and coordinating your robots effortlessly. Elevate your operations with unmatched oversight and convenience.




	section.PHome-Advantages
		.container
			.row.gy-4
				.col-lg-4
					.PHome-Advantages__head
						h3 Our<br>Advantages
						<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 256 256"><path fill="currentColor" d="M228 128a12 12 0 0 1-12 12h-76v76a12 12 0 0 1-24 0v-76H40a12 12 0 0 1 0-24h76V40a12 12 0 0 1 24 0v76h76a12 12 0 0 1 12 12"/></svg>

				.col-lg-8
					.PHome-Advantages__content
						div
							h4 Lorem ipsum dolor
							p There are so many benefits to utilizing robots. We ensure that every inch of your facility is being appropriately utilized. You can make the most of your space and your budget. AMRs help you scale faster, work safer, and decide smarter! The return on your investment is obvious.
						.mb-auto
						a.a-button(href="#") Discover
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>

				.col-lg-4
					.PHome-Advantages__advantage
						h4 Scale Faster
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.PHome-Advantages__advantage__imgs
							img(src=require("@assets/images/advantage_scale_faster_1.png"), alt="alt")
							img(src=require("@assets/images/advantage_scale_faster_2.png"), alt="alt")

				.col-lg-4
					.PHome-Advantages__advantage
						h4 Work Safer
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.PHome-Advantages__advantage__imgs
							img(src=require("@assets/images/advantage_work_safer_1.png"), alt="alt")
							img(src=require("@assets/images/advantage_work_safer_2.png"), alt="alt")

				.col-lg-4
					.PHome-Advantages__advantage
						h4 Decide Smarter
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.PHome-Advantages__advantage__imgs
							img(src=require("@assets/images/advantage_decide_smarter_1.png"), alt="alt")
							img(src=require("@assets/images/advantage_decide_smarter_2.png"), alt="alt")




	section.PHome-News
		.container
			.row.gy-5
				.col-lg-5
					.PHome-News__head
						h3 Learn more from<br>our news
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor odio vel elementum suscipit. Ut dignissim dapibus mi vitae porttitor.
						.mb-auto
						a.a-button(href="#") See All
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>

				.col-lg-7
					.PHome-News__wrapper
						.PHome-News__news
							img(src=require("@assets/images/home_news_1.jpg"), alt="alt")
							.d-flex.flex-column.gap-2.align-items-center.align-items-sm-start
								h4
									a(href="#") Industry 4.0 Smart Factories and Autonomous Mobile Robots
								.d-flex.gap-2
									strong MAY 05, 2021
									span INDUSTRY 4.0 AUTONOMOUS MOBILE ROBOTS

						.PHome-News__news
							img(src=require("@assets/images/home_news_2.jpg"), alt="alt")
							.d-flex.flex-column.gap-2.align-items-center.align-items-sm-start
								h4
									a(href="#") Milvus Robotics Celebrates 10th Year in Business
								.d-flex.gap-2
									strong MAY 05, 2021
									span INDUSTRY 4.0 AUTONOMOUS MOBILE ROBOTS

						.PHome-News__news
							img(src=require("@assets/images/home_news_3.jpg"), alt="alt")
							.d-flex.flex-column.gap-2.align-items-center.align-items-sm-start
								h4
									a(href="#") Autonomous Mobile Robots: The Modern Alternative to Traditional Conveyor Systems
								.d-flex.gap-2
									strong MAY 05, 2021
									span INDUSTRY 4.0 AUTONOMOUS MOBILE ROBOTS
